<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.doublestarWeb.dao.Enterprise_newsMapper">
  <resultMap id="BaseResultMap" type="com.cn.doublestarWeb.domain.Enterprise_news">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="isdelete" jdbcType="BIT" property="isdelete" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cn.doublestarWeb.domain.Enterprise_news">
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, pic_path, date, isdelete, editor
  </sql>
  <sql id="Blob_Column_List">
    context
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from enterprise_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from enterprise_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.doublestarWeb.domain.Enterprise_news">
    insert into enterprise_news (id, title, pic_path, 
      date, isdelete, editor, 
      context)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{picPath,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=BIT}, #{editor,jdbcType=VARCHAR}, 
      #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.doublestarWeb.domain.Enterprise_news">
    insert into enterprise_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="picPath != null">
        pic_path,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
      <if test="editor != null">
        editor,
      </if>
      <if test="context != null">
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.doublestarWeb.domain.Enterprise_news">
    update enterprise_news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null">
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="editor != null">
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.doublestarWeb.domain.Enterprise_news">
    update enterprise_news
    set title = #{title,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=BIT},
      editor = #{editor,jdbcType=VARCHAR},
      context = #{context,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.doublestarWeb.domain.Enterprise_news">
    update enterprise_news
    set title = #{title,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=BIT},
      editor = #{editor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>